.idea/BeRich.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
weibo/more_sql_Run.py
weibo/__pycache__/__init__.cpython-310.pyc
weibo/__pycache__/more_sql_Run.cpython-310.pyc
.idea/workspace.xml
weibo/more_sql_Run.py
weibo/more_sql_Run.py
